extends layout

block content
  div.content
    div.container-fluid
      div(class="row justify-content-center")
        div(class="col-6 col-md-4")
          div.card
            div.card-header
              h4.card-title=params.data2.name
              
              div.card-body
                form(method="get" action="upd")
                    div.row
                        div.col-md-1
                        div.col-md-6
                            div.form-group
                                label(style="width: 90%;").
                                    Name
                                input(type="text" required="" maxlength="50" name="nameP" placeholder="Name" disabled="" value=params.data2.name)
                    div.row
                        div.col-md-1
                        div.col-md-6
                            div.form-group
                                label(style="width: 90%;").
                                    code
                                input(type="text" required="" maxlength="50" name="codeP" placeholder="Code" disabled="" value=params.data2.code)    
                    div.row
                        div.col-md-1
                        div.col-md-6
                            div.form-group
                                label(style="width: 90%;").
                                    Stock
                                input(type="number" min="0" required=""  name="stockP" placeholder="Stock" disabled="" value=params.data2.stock)  
                    div.row
                        div.col-md-1
                        div.col-md-6
                            div.form-group
                                label(style="width: 90%;").
                                    Patent
                                input(type="text" required="" maxlength="50" name="patentP" placeholder="Patent" disabled="" value=params.data2.patent)     
                    div.row
                        div.col-md-1
                        div.col-md-6
                            div.form-group
                                label(style="width: 90%;").
                                    Provider
                                input(type="text" required="" maxlength="50" name="providerP" placeholder="Provider" disabled="" value=params.data2.provider)
                                button(type="button" id="providerData").
                                    +  
                    div.row
                        div.col-md-1
                        div.col-md-6
                            div.form-group
                                button(type="submit" style="display:none;").
                                Update
        div(class="col-6 col-md-4")
          div.card(id="ProviderCard" style="display:none;")
            div.card-header
                h4.card-title(id="ProviderTitle").
                    
                div.card-body